@import 'n-ui/utils/main';

$_n-image_applied: false !default;

@if $_n-image_applied == false {
	.n-image {
		max-width: 100%;
		opacity: 1;
		transition: opacity 1s;
	}

	.n-image--lazy-loading {
		width: 100%;
		opacity: 0;
	}

	.n-image__img {
		max-width: 100%;
	}

	$_n-image_applied: true !global;
}
